*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem; }

body {
  font-family: 'Lato', sans-serif; }

.header__primary {
  background-image: linear-gradient(to right, #b45, #812);
  color: transparent;
  background-clip: text;
  font-size: 8rem;
  letter-spacing: 2rem; }

.header__secondary {
  color: #812;
  font-size: 3rem;
  letter-spacing: .27rem; }

.main {
  font-size: 2rem; }
  .main .section-files .files .file {
    color: #812; }
    .main .section-files .files .file .file-name {
      font-weight: 400; }

.header {
  background-color: #f7d7a7;
  border-radius: 2px;
  height: 30vh;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
  position: relative; }
  .header .text-box {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%); }

.main .section-input {
  background-color: #f7d7a7;
  height: 40vh;
  background-color: #812;
  border-radius: 2px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
  margin-top: 3rem; }

.main .section-files {
  background-color: #f7d7a7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.8);
  margin-top: 3rem; }
  .main .section-files .files {
    width: 30%;
    list-style-type: none;
    margin: 0 auto;
    padding: 3rem; }
    .main .section-files .files :not(:last-child) {
      margin-bottom: 2rem; }
    .main .section-files .files .file {
      border: 1px solid black;
      border-radius: 3px;
      box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.8);
      padding: 2rem 2rem;
      transition: all .5s; }
      .main .section-files .files .file:hover {
        transform: scale(1.03);
        box-shadow: 0 .5rem .5rem #333; }
      .main .section-files .files .file .file-name {
        position: relative;
        bottom: .3rem; }
      .main .section-files .files .file i {
        margin: 0 3rem;
        font-size: 3rem; }

/*
.main {
  .section-input {
    
    .filetype {
      background-color: red;
      display: inline-block;
      position: absolute;
      top: 2rem;
      bottom: 2rem;
      left: 3rem;
      right: calc(3rem + 50%);
    }

    .right-box {
      background-color: green;
      display: inline-block;
      position: absolute;
      top: 2rem;
      bottom: 2rem;
      right: 3rem;
      left: calc(3rem + 50%);
    }
  }
}
*/
/*

@import 'abstracts/mixins';

@import 'base/utilities';

@import 'components/button';


*/
