* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  color: #eef;
  font-family: sans-serif;
  position: relative;
  padding: 2rem; }

header {
  height: 100vh;
  background-image: linear-gradient(to bottom right, rgba(136, 170, 255, 0.9), rgba(17, 17, 68, 0.9)), url("../images/raptor.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 3px; }
  header .content-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }
    header .content-box .title {
      text-align: left;
      padding-left: 4rem;
      font-size: 4rem;
      letter-spacing: 4.85rem; }
    header .content-box .result {
      text-align: center;
      font-size: 10rem; }
