@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem) skewX(0);
    opacity: 0; }
  80% {
    transform: translateX(2rem) skewX(-25deg);
    opacity: 1; }
  100% {
    transform: translateX(0) skewX(0);
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    transform: translateX(10rem) skewX(0);
    opacity: 0; }
  80% {
    transform: translateX(-2rem) skewX(25deg);
    opacity: 1; }
  100% {
    transform: translateX(0) skewX(0);
    opacity: 1; } }

@keyframes moveInBottom {
  0% {
    transform: translateY(3rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 112.5em) {
    html {
      font-size: 53%; } }
  @media (max-width: 75em) {
    html {
      font-size: 35%; } }
  @media (max-width: 50.625em) {
    html {
      font-size: 30%; } }
  @media (max-width: 37.125em) {
    html {
      font-size: 22%; } }
  @media (max-width: 23.75em) {
    html {
      font-size: 20%; } }

body {
  box-sizing: border-box;
  background-color: #080822;
  padding: 3rem; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #eee; }

.heading-primary {
  font-size: 12rem;
  letter-spacing: 4rem;
  font-weight: 200;
  margin-bottom: 4rem;
  animation: moveInLeft .8s ease-out; }
  @media (max-width: 75em) {
    .heading-primary {
      margin-bottom: 2rem; } }
  @media (max-width: 37.125em) {
    .heading-primary {
      margin-bottom: 1rem; } }

.result {
  font-size: 8rem;
  text-align: center; }
  .result__value {
    letter-spacing: 1.3rem;
    font-weight: 300; }
  .result__label {
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    bottom: 5rem;
    color: #080822; }
    @media (max-width: 50.625em) {
      .result__label {
        font-size: 6rem; } }

.input {
  font-size: 3rem;
  color: #5e8cff;
  text-align: center; }
  @media (max-width: 37.125em) {
    .input {
      font-size: 6rem; } }

.background {
  height: 90vh;
  background-image: linear-gradient(to bottom right, rgba(94, 140, 255, 0.9), rgba(8, 8, 34, 0.9)), url("../images/raptor.jpg");
  background-position: left;
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 .5rem .5rem black;
  position: relative; }

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.result {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 6rem;
  animation: moveInRight .8s ease-out; }
  @media (max-width: 75em) {
    .result {
      margin-bottom: 3rem; } }
  @media (max-width: 50.625em) {
    .result {
      width: 90%; } }
  @media (max-width: 37.125em) {
    .result {
      margin-bottom: 4rem; } }

.input {
  animation: moveInBottom .8s ease-out .5s;
  animation-fill-mode: backwards; }
  .input__box:not(:last-child) {
    margin-bottom: 3rem; }
    @media (max-width: 75em) {
      .input__box:not(:last-child) {
        margin-bottom: 1rem; } }
    @media (max-width: 50.625em) {
      .input__box:not(:last-child) {
        margin-bottom: 2rem; } }
    @media (max-width: 37.125em) {
      .input__box:not(:last-child) {
        margin-bottom: 1rem; } }
  .input__label {
    display: block; }
  .input input[type="range"] {
    width: 100%; }
