@keyframes moviInLeft {
  0% {
    transform: translateX(-100px) skewX(0);
    opacity: 0; }
  80% {
    transform: translateX(20px) skewX(-25deg);
    opacity: 1; }
  100% {
    transform: translateX(0) skewX(0);
    opacity: 1; } }

@keyframes moviInRight {
  0% {
    transform: translateX(100px) skewX(0);
    opacity: 0; }
  80% {
    transform: translateX(-20px) skewX(25deg);
    opacity: 1; }
  100% {
    transform: translateX(0) skewX(0);
    opacity: 1; } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 50.625em) {
    html {
      font-size: 45%; } }
  @media (max-width: 37.125em) {
    html {
      font-size: 37%; } }
  @media (max-width: 25em) {
    html {
      font-size: 30%; } }

body {
  box-sizing: border-box;
  color: #eef;
  font-family: 'Lato', sans-serif;
  padding: 1rem; }

header .title {
  font-size: 4rem;
  letter-spacing: 4rem;
  color: #8af;
  padding-left: 4rem; }

.background .result {
  font-size: 4rem; }
  @media (max-width: 50.625em) {
    .background .result {
      font-size: 4.4rem; } }
  .background .result__value {
    letter-spacing: 1.3rem; }
    @media (max-width: 37.125em) {
      .background .result__value {
        letter-spacing: 1.3rem;
        padding-left: .65rem;
        text-align: center; } }
  .background .result__label {
    font-size: 4rem;
    color: #8af; }
    @media (max-width: 37.125em) {
      .background .result__label {
        text-align: center; } }
    .background .result__label--h {
      padding-left: 4.1rem; }
      @media (max-width: 37.125em) {
        .background .result__label--h {
          padding-left: .65rem; } }
    .background .result__label--m {
      padding-left: 12rem; }
    .background .result__label--s {
      padding-left: 10rem; }

.background .input__box {
  font-size: 2.5rem; }
  .background .input__box .input-value {
    font-weight: 700;
    color: #8af;
    text-align: center; }

header {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%); }
  header .title {
    animation: moviInLeft .8s; }

.background {
  height: 95vh;
  background-image: linear-gradient(to bottom right, rgba(136, 170, 255, 0.9), rgba(17, 17, 68, 0.9)), url("../images/raptor.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 .5rem .5rem black;
  position: relative; }
  .background .result {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media (max-width: 37.125em) {
      .background .result {
        width: 75%; } }
    @media (max-width: 25em) {
      .background .result {
        width: 85%; } }
    .background .result__value {
      animation: moviInRight .8s; }
    .background .result__label {
      animation: moviInRight .8s; }
  .background .input {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media (max-width: 37.125em) {
      .background .input {
        width: 75%; } }
    @media (max-width: 25em) {
      .background .input {
        width: 85%; } }
    .background .input__box:not(:last-child) {
      margin-bottom: 4rem; }
    .background .input__box .input-value {
      display: inline-block;
      min-width: 10rem; }
    .background .input input[type="range"] {
      width: 100%; }
