// GRID
$grid-width: 114rem;
$grid-color-row-bg: #eee;
$grid-gutter-vertical: 6rem;
$grid-gutter-horizontal: 3rem;

// Utilities
$margin-sm: 2rem;
$margin-md: 4rem;
$margin-lg: 6rem;
$margin-xl: 8rem;