.main {
  .section-input {
    background-color: $color-primary-light;
    height: 40vh;
    background-color: $color-primary-dark;
    border-radius: 2px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 .5rem .5rem rgba(black, 0.8);
    margin-top: 3rem;
  }
  
  .section-files {
    background-color: $color-primary-light;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0 .5rem .5rem rgba(black, 0.8);
    margin-top: 3rem;

    .files {
      width: 30%;
      list-style-type: none;
      margin: 0 auto;
      padding: 3rem;

      :not(:last-child) {
        margin-bottom: 2rem;
      }

      .file {
        border: 1px solid black;
        border-radius: 3px;
        box-shadow: 0 .3rem .3rem rgba(black, .8);
        padding: 2rem 2rem;
        transition: all .5s;

        &:hover {
          transform: scale(1.03);
          box-shadow: 0 .5rem .5rem #333;
        }

        .file-name {
          position: relative;
          bottom: .3rem;
        }

        i {
          margin: 0 3rem;
          font-size: 3rem;
        }
      }
    }
  }
}

/*
.main {
  .section-input {
    
    .filetype {
      background-color: red;
      display: inline-block;
      position: absolute;
      top: 2rem;
      bottom: 2rem;
      left: 3rem;
      right: calc(3rem + 50%);
    }

    .right-box {
      background-color: green;
      display: inline-block;
      position: absolute;
      top: 2rem;
      bottom: 2rem;
      right: 3rem;
      left: calc(3rem + 50%);
    }
  }
}
*/