.background {
  height: 95vh;
  background-image:
    linear-gradient(to bottom right,
      rgba($color-primary-light, .9),
      rgba($color-primary-dark, .9)),
    url('../images/raptor.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 .5rem .5rem black;
  position: relative;

  .result {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;

    &__value {
      animation: moviInRight .8s;
    }

    &__label {
      animation: moviInRight .8s;
    }
  }

  .input {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__box {

      &:not(:last-child) {
        margin-bottom: 4rem;
      }

      .input-value {
        display: inline-block;
        min-width: 10rem;
      }
    }

    input[type="range"] {
      width: 100%;
    }
  }
}
