.background {
  height: 95vh;
  background-image:
    linear-gradient(to bottom right,
      rgba($color-primary-light, .9),
      rgba($color-primary-dark, .9)),
    url('../images/raptor.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 .5rem .5rem black;
  position: relative;

  .result {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;

    &__value {
      animation: moviInRight .8s;
      letter-spacing: 1.3rem;
    }

    &__label {
      animation: moviInRight .8s;
      font-size: 4rem;
      color: $color-primary-light;

      &--h {
        padding-left: 6rem;
      }

      &--m {
        padding-left: 16rem;
      }

      &--s {
        padding-left: 14rem;
      }
    }
  }

  .input {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__box {
      font-size: 2.5rem;

      &:not(:last-child) {
        margin-bottom: 4rem;
      }

      .input-value {
        font-weight: 700;
        color: $color-primary-light;
        display: inline-block;
        min-width: 10rem;
        text-align: center;
      }
    }

    input[type="range"] {
      width: 100%;
    }
  }
}
