.background {
  height: 90vh;
  background-image:
    linear-gradient(to bottom right,
      rgba($color-primary-light, .9),
      rgba($color-primary-dark, .9)),
    url('../images/raptor.jpg');
  background-position: left;
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 .5rem .5rem black;
  position: relative;
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.result {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 6rem;
  
  animation: moveInRight .8s ease-out;

  @include respond($tab-land) {
    margin-bottom: 3rem;
  }
  
  @include respond($tab-por) {
    width: 90%;
  }

  @include respond($big-phone) {
    margin-bottom: 4rem;
  }
}

.input {
  animation: moveInBottom .8s ease-out .5s;
  animation-fill-mode: backwards;

  &__box {
    &:not(:last-child) {
      margin-bottom: 3rem;

      @include respond($tab-land) {
        margin-bottom: 1rem;
      }

      @include respond($tab-por) {
        margin-bottom: 2rem;
      }

      @include respond($big-phone) {
        margin-bottom: 1rem;
      }
    }
  }
    
  &__label {
    display: block;
  }
  
  input[type="range"] {
    width: 100%;
  }
}