<!doctype html>

<html class="no-js" lang="it">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  
  <title>Endurance</title>
</head>

<body>
  <main class="background">
    <div class="app" id="app">
      <h1 class="heading-primary">Endurance</h1>
      
      <div class="result">
        <p class="result__value">{{ endurance.h }}<span class="result__label">h</span> :
                                 {{ endurance.m }}<span class="result__label">m</span> :
                                 {{ endurance.s }}<span class="result__label">s</span>
        </p>
      </div>
      
      <div class="input">
        <div class="input__box">
          <label for="fuel" class="input__label">Fuel: {{ CC }} gallons</label>
          <input type="range" min="0" max="1999" v-model="CC" name="fuel" id="fuel">
        </div>
        <div class="input__box">
          <label for="fuelh" class="input__label">Fuel per hour: {{ CH }} gallons/h</label>
          <input type="range" min="5" max="300" v-model="CH" name="consumoh" id="consumoh">
        </div>
      </div>
    </div>
  </main>

  <script>
  const format = function (value, n) {
    return ("0".repeat(n)+value).slice(-n);
  };

  var cc = new Vue({
    el: '#app',
    data: {
      CC: 1000,
      CH: 150
    },

    computed: {
      endurance () {
        let t = this.CC / this.CH;
        const h = Math.floor(t);
        t -= h;
        t *= 60;
        const m = Math.floor(t);
        t -= m;
        t *= 60;
        const s = Math.floor(t);

        return {
          h: format(h, 3),
          m: format(m, 2),
          s: format(s, 2)
        };
      }
    }
  });
  </script>
</body>

</html>
