@import './animations';

$color-primary: #eef;
$color-primary-light: #8af;
$color-primary-dark: #114;


* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  color: $color-primary;
  font-family: sans-serif;
  position: relative;
  padding: 1rem;
}

.main {
  height: 95vh;
  background-image:
  linear-gradient(to bottom right,
    rgba($color-primary-light, .9),
    rgba($color-primary-dark, .9)),
  url('../images/raptor.jpg');
  background-position: center;
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 .5rem .5rem black;

  .content-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &--text {
      .title {
        font-size: 4rem;
        letter-spacing: 4.1rem;
        padding-left: .5rem;
        margin-bottom: 5rem;
        animation: moviInLeft .8s;
        color: $color-primary-light
      }

      .result {
        font-size: 10rem;
        margin-bottom: 5rem;
        animation: moviInRight .8s;
      }
    }

    &--data-input {
      padding-right: 4.95rem;

      label {
        font-size: 2.5rem;
        color: $color-primary-dark;
      }

      input[type="range"] {
        width: 100%;
      }

      .input-box:not(:last-child) {
        margin-bottom: 4rem;
      }

      .input-value {
        font-weight: bold;
        color: $color-primary-light;
        display: inline-block;
        min-width: 10rem;
        text-align: center;
      }
    }
  }
}
