* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond($tab-por) {
    font-size: 45%;
  }

  @include respond($big-phone) {
    font-size: 37%;
  }
  
  @include respond($phone) {
    font-size: 30%;
  }
}

body {
  box-sizing: border-box;
  color: $color-primary;
  font-family: 'Lato', sans-serif;
  padding: 1rem;
}