body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-white;
}

.heading-primary {
  font-size: 12rem;
  letter-spacing: 4rem;
  font-weight: 200;
  margin-bottom: 4rem;
  
  animation: moveInLeft .8s ease-out;

  @include respond($tab-land) {
    margin-bottom: 2rem;
  }

  @include respond($big-phone) {
    margin-bottom: 1rem;
  }
}

.result {
  font-size: 8rem;
  text-align: center;
  
  &__value {
    letter-spacing: 1.3rem;
    font-weight: 300;
  }
  
  &__label {
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    bottom: 5rem;
    color: $color-primary-dark;

    @include respond($tab-por) {
      font-size: 6rem;
    }
  }
}

.input {
  font-size: 3rem;
  color: $color-primary-light;
  text-align: center;
  
  @include respond($big-phone) {
    font-size: 6rem;
  }
}